<!-- configuration标签下的scan属性开启logback的自动扫描如果不设置 ，默认为false -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 定义日志文件 输入位置 -->
    <property name="module_name" value="lab-back-base"/>
    <property name="log_dir" value="logs/${module_name}"/>

    <!-- 日志最大的历史 30天 -->
    <property name="maxHistory" value="3"/>
    <!-- ConsoleAppender 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
        <!--            <level>DEBUG</level>-->
        <!--            <onMatch>ACCEPT</onMatch>-->
        <!--            <onMismatch>DENY</onMismatch>-->
        <!--        </filter>-->
        <!-- 对日志进行格式化 -->
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%t] %-5p %logger{5} :%m%n</pattern>-->
          <pattern>%-5p %logger{5} :%m%n</pattern>
        </encoder>
    </appender>

    <appender name="SPRING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${log_dir}/%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- 日志最大的历史 30天 -->
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %X{RequestId} %logger :%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.netflix" level="OFF"/>

    <!-- root级别  INFO DEBUG -->
    <root level="INFO">
        <!-- 控制台输出 -->
        <appender-ref ref="STDOUT"/>
        <!-- 文件输出 -->
        <appender-ref ref="SPRING"/>
    </root>
</configuration>
